{% extends 'base.html.twig' %}

{% block title %}Movies{% endblock %}

{% block body %}
<div class="mt-3 ml-2">
    <a href="/home"><img src="https://i.goopics.net/wbLRD.png" height="60" width="70"/></a>
</div>
<div class="row justify-content-center mt-2">
    <div class="col-lg-12 col-md-12 col-xs-12 justify-content-center">
        <h2 class="mt-1 mb-4 mx-auto">{{movie.title }}</h2>
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="offset-1 col-4">
            <div class="w3-card-4" style="width:100%">
                <img class="cover_film" src="{{ movie.image }}" alt="cover" style="width:100%">
            </div>
        </div>
        <div class="col-lg-6 col-md-4 offset-1">
            <div class="container">
                <h5 class="mt-5">Notes spectateurs : <span>{{movie.critics }}</span></h5>
            </div>
            <div class="container">
                <h6 class="mt-5">Synopsis : </h6>
                <p class="mt-3 mb-2 mx-auto">{{movie.synopsis }}</p>
            </div>
            <div class="container mt-5">
                <h5 class="mt-5">Acteurs : </h5>
                <div class="row mt-5">
                    {% for actor in actors %}
                        <div class="col-lg-3 col-md-5">
                            <div class="w3-card-4" style="width:100%">
                                <a href="{{ path('actor_show', {'id': actor.id}) }}">
                                <img src="{{ actor.picture }}" class="image_actor" alt="actor" style="width:100%">
                                </a>
                            </div>
                            <div class="glow-wrap">
                                <i class="glow"></i>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
