{% extends 'base.html.twig' %}

{% block title %}Acteur{% endblock %}

{% block body %}
    {% include '_navbar.html.twig' %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-6 col-md-6 col-xs-12">
                <div class="row">
                    <div class="container">
                        <h2 class="mt-2 mb-2 title_film">{{ actor.firstname }} {{ actor.name }}</h2>
                    </div>
                    <div class="container">
                        <h5 class="mt-5">Date de naissance : <span>{{ actor.birthdate|date('d/m/Y') }}</span></h5>
                    </div>
                    <div class="container title_movie_actor">
                        <h5 class="mt-5">Films : {% for movie in movies %} <br><a href="{{ path('movie_show', {'id': movie.id}) }}">{{ movie.title }}</a>{% endfor %}</h5>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="content-box-holder">
                    <div class="content-box item1 container_actor">
                        <div class="content-image"></div>
                        <img src="{{ actor.picture }}" class="picture_actor" alt="actor" style="width:110%">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}